.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*  GEF
 *
 * Aligning horizontally:
 * https://developer.mozilla.org/es/docs/Web/CSS/CSS_Flexible_Box_Layout/Aligning_Items_in_a_Flex_Container
 */

th, td {
  padding: 10px;
  background-color:none;
  border: 2px solid black;
}

.Data-table {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.Data-header {
  background-color: #008888;
}

.Data-values {
  text-align: left;
}

.Input {
  /* margin: 30px auto; */
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: #BB6600;
  width: 90%;
}

input {
  display: block;
  margin: 10px auto;
}

.RecordForm {
  background-color: #BB6600;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: stretch;
  align-content: center;
  width: 90%;
}
