<!DOCTYPE html>
<head>
    <title>File upload</title>
</head>
<body>
    <form action="/upload" enctype="multipart/form-data" method="POST"> 
        <input type="text" name="nombre" />
        <input type="file" name="myFile" />
        <input type="submit" value="Upload a file"/>
     </form>

</body>