/*  GEF
 *
 * Aligning horizontally:
 * https://developer.mozilla.org/es/docs/Web/CSS/CSS_Flexible_Box_Layout/Aligning_Items_in_a_Flex_Container
 */

th, td {
  padding: 10px;
  background-color:none;
  border: 2px solid black;
}

.Data-table {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.Data-header {
  background-color: #008888;
}

.Data-values {
  text-align: left;
}
