<html>
    <body>
        <h1>Creación de usuario administrador</h1>
        <form action="/setup" method="POST">
            <p>Ingrese password: <input type="password" name="pass" required/></p>
            <p><input type="submit" value="Inicializar sistema"/></p>
        </form>
    </body>
</html>