/*  GEF
 *
 * Aligning horizontally:
 * https://developer.mozilla.org/es/docs/Web/CSS/CSS_Flexible_Box_Layout/Aligning_Items_in_a_Flex_Container
 */

.FilterItem {
  background-color: #00BB66;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  width: 90%;
}

.FilterRow {
  display: flex;
  justify-content: space-evenly;
}

.FilterButton {
  padding: 20px;
  font-weight: bold;
  font-size: 30px;
}

.FilterArea {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: #BB6600;
}
