<!DOCTYPE html>
<html>
    <head>
        Pagina de registro
    </head>
    <body>
        <h1>Registro de usuarios</h1>
        <form action="/registro" method="POST">
            <p><input type="text" name="usuario" placeholder="Usuario" id="usuario" required></p>
            <p><input type="password" name="password" id="password" required></p>
            <p><input type="submit" value="Registrarse"></p>
        </form>
    </body>
</html>